
<div class="offcanvas-header bg-primary d-flex align-items-center p-2">

  <button type="submit" class="btn btn-primary me-2" form="formBill" [disabled]="formBill.invalid" data-bs-dismiss="offcanvas" aria-label="Close"> 
   Save
  </button>


    <span  class="mx-1 offcanvas-title text-muted"  id="offcanvasRightLabel">Add Bill </span>

    <button type="button" id="btn-close" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close" (click)="onclose()"></button>

</div>
  <div class="offcanvas-body">
    <div class="block-content block-content-full">
      <form [formGroup]="formBill"   id="formBill" (ngSubmit)="onSubmit()">
        <div class="row">
          <div>
            <div class="mb-4">
              <label class="form-label" for="date">BillingDate</label>
              <input type="date" class="form-control form-control-sm" id="date" formControlName="date">
              <div *ngIf="formBill.get('date')!.invalid && formBill.get('date')!.touched" class="text-danger">
                Name is required.
              </div>
            </div>
            <div class="mb-4">
              <label class="form-label" for="customer">Customer</label>
              <select class="form-select" id="customer" formControlName="customer">
                <option value="" disabled>Select Customer</option> <!-- Default, non-selectable option -->
                <option *ngFor="let item of customers" [ngValue]="item">{{ item.name }}</option>
              </select>              
              <div *ngIf="formBill.get('customer')!.invalid && formBill.get('customer')!.touched" class="text-danger">
                  Name is required.
                </div>
            </div>
            
          </div>
        </div>
      </form>
    </div>
  </div> 